body{
    background-color: rgb(20, 29, 37);
}

.top-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon{
    width: 100px;  
    height: auto;  
    text-align: center;  
    padding: 15px; 
}
.hidden{
    display:none;
}

.loadMore{
    display: flex;
    justify-content: center;
}

.star{
    size: 10px;
}

h4{
    color: white;
}

.movieArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    flex: 1;
    flex-basis: 20%;
    margin: 1vh 1vw 2vh 1vw;

}
.info{
    display: flex;
    justify-content: space-between;
}

.ratings{
    display: flex;
    flex-direction: row;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .movieInfo{
      display: flex;
      justify-content: center;
  }

  .movieName{
      color: black;
  }

  button {
    background-color: #313631; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  img{
      width: 100%;
  }

  .wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
  }
  
  .search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
  }

  .clear-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    cursor: pointer;
    visibility: hidden;
  }

  .search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
  }

  .search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
  }